body {
margin: 0;
font-family: 'Montserrat', sans-serif;
    background-color: #041e41;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}


/*Container*/
.container{
    width: 100%;
    max-width: 650px;
    position: absolute;
    right: 0;
    
}


/*Title*/
.title{
    margin-top: 40px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    line-height: 35px;
    
}

.suptitle {
    margin: 100px 150px;
    font-size: 20px;
}


/*Header*/
.header{
    padding-top: 30px;
    
    width: 100%;
    
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav*/
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color .1s linear;   
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.nav_link:hover{    
    opacity: .5;
}
.nav_link:hover:after{
    opacity: 1;
}


/*Links*/
.pl_link {
    text-decoration: none;
    color: #fff;
    
    transition: opacity .1s linear;
}

.pl_link:hover {
    color: #ff4c01;
}

/*Photos*/
.photo {
    margin-top: 150px;
    text-align: center;
}
