body {
margin: 0;
font-family: 'Montserrat', sans-serif;
    background-color: #ff4c01;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}


/*Container*/
.container{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

/*Intro*/
.intro{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: 
        url("../Images/Edmonton-Oilers-Symbol.jpg")center no-repeat;
    -webkit-background-size: 52%;
    background-size: 52%;
    background-position: top;
}

.intro_inner{
    color: #fff;
    width: 100%;

    text-align: center;
}




/*Header*/
.header{
    padding-top: 20px;
    
    width: 100%;
    
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-left: 80px;
    font-family: 'Kaushan Script', cursive;
}

/*Nav*/
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color .1s linear;   
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.nav_link:hover{    
    color: #041e41;
}
.nav_link:hover:after{
    opacity: 1;
}



/*Text*/
.text_p0 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
    color: #fff;
}

.text_p1 {
    text-align: center;
    margin: 0 100px;
    color: black;
}

/*Underground*/
.underground{
    position: static; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 100px; /* Поля вокруг текста */
    background:url("../Images/nhl21-buy-logo-horizontal.png");/* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%;
}

